<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        
        <h2>👋 Welcome {{ username }}!</h2>

        <a href="/logout">Logout</a>
        <br><br>

        <h3>Your Tasks</h3>

        <ul>
            {% for task in tasks %}
                <li>
                    <strong>{{ task.title }}</strong> - {{ task.description }}
                    &nbsp;
                    <a href="/edit-task/{{ task.id }}">✏️ Edit</a>
                    &nbsp; |&nbsp;
                    <a href="/delete-task/{{ task.id }}" onclick="return confirm('Delete this task')">🗑️ Delete</a>
                </li>
            {% else %}
                <li>No tasks yet.</li>
            {% endfor %}
        </ul>

        <br><br>
        <a href="/add-task">➕ Add New Task</a>
    </body>
</html>